{% extends 'main.html' %}
{% block content %}

<div class='container' style="margin-top: 2%;" >
    <center><h2>Information about the Diseases</h2></center>
    <div class = 'breast_cancer' style=" box-shadow: 0 0 5px black; padding: 1em;">
        <h3>Breast Cancer</h3>
            <p>Breast cancer is cancer that forms in the cells of the breasts.After skin cancer, breast cancer is the most common cancer diagnosed in women in the 
                United States. Breast cancer can occur in both men and women, but it's far more common in women.</p>
            <h4>Symptoms</h4>
            <ul>
                <li>A breast lump or thickening that feels different from the surrounding tissue</li>
                <li>Change in the size, shape or appearance of a breast</li>
                <li>Changes to the skin over the breast, such as dimpling</li>
                <li>Redness or pitting of the skin over your breast, like the skin of an orange</li>
            </ul>
    </div>
    <br>
    <div class='kidney' style=" box-shadow: 0 0 5px black; padding: 1em;">
        <h3>Chronic kidney disease</h3>
            <p>Chronic kidney disease, also called chronic kidney failure, describes the gradual loss of kidney function. Your kidneys filter wastes and excess fluids 
                from your blood, which are then excreted in your urine. When chronic kidney disease reaches an advanced stage, dangerous levels of fluid, electrolytes 
                and wastes can build up in your body.</p>
            <h4>Symptoms</h4>
            <ul>
                <li>Nausea</li>
                <li>Vomiting</li>
                <li>Fatigue and weakness</li>
                <li>Muscle twitches and cramps</li>
            </ul>

    </div>
    <br>
    <div class='malaria' style=" box-shadow: 0 0 5px black; padding: 1em;">
        <h3>Malaria</h3>
                <p>Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that typically include fever, tiredness, vomiting, and headaches. In severe cases it can cause yellow skin, seizures, coma, or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito. If not properly treated, people may have recurrences of the disease months later.</p>
                <h4>Symptoms</h4>
                <ul>
                    <li>Fever. This is the most common symptom.</li>
                    <li>Chills</li>
                    <li>Headache</li>
                    <li>Nausea and vomiting</li>
                </ul>
    </div>
    <br>
    <div class='pneumonia' style=" box-shadow: 0 0 5px black; padding: 1em;">
        <h3>Pneumonia</h3>
                <p>Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.</p>
                <h4>Symptoms</h4>
                <ul>
                    <li>Cough, which may produce greenish, yellow or even bloody mucus.</li>
                    <li>Fever, sweating and shaking chills.</li>
                    <li>Shortness of breath.</li>
                    <li>Rapid, shallow breathing.</li>
                </ul>
    </div>

</div>


{% endblock %}